<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Welcome to the club</h4>
    <h3>Give us the required details</h3>
    <form method="post" action="/users/add/newuser">
        <h1>Enter your name: <input placeholder="Name" name="name"></h1>
        <h1>Enter your Email ID:<input placeholder="Email ID" name="email"></h1>
        <h1>Enter password:<input type="password" name="pass" placeholder="password"></h1>
        <button>Submit</button>
    </form>
   
</body>
</html>